* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

#root {
  width: calc(100vw - (100vw - 100%));
  overflow: hidden;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #10121b;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background-color: #383838;
  border: 5px solid #383838;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 3px;
}

.vertical-timeline {
  margin-top: 100px !important;
}

.vertical-timeline-element-content {
  background: #191d2b !important;
  color: #a4acc4;
  box-shadow: 0 3px 0 #97acc4 !important;
}
.vertical-timeline::before {
  background: #191d2b !important;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #191d2b !important;
}

.vertical-timeline-element-date {
  top: 16px !important;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid #191d2b !important;
}

h2 {
  font-size: 2rem;
}
